/* used for hobbies.html and resume.html pages */
main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-header-container {
  width: 60%;          
  padding: 14px;
  text-align: center;
  margin-top: 5%;
  font-weight: bold;
  font-size: 1.5rem;
}

.outer-main-container {
  width: 60%;         
  margin: 40px 0 40px 16px; 
  padding: 14px;
  background-color: #ffff00;
  box-shadow: 8px 8px 0 #888;
  outline: 2px solid black;
}

.inner-main-container {
  background-color: #fff;
  border: 2px solid #000;
  padding: 12px;
  outline: 1px solid black;
}

.misc-image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 12px 0;
  border: 2px solid black;
}

.inner-main-container p {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.4;
  text-align: center;
}
