main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: flex-start; 
  padding: 24px 0;  
}

.main-header-container {
  width: 60%;          
  padding: 14px;
  text-align: center;
  margin-top: 5%;
  font-weight: bold;
  font-size: 1.5rem;
}

.outer-main-container {
  width: 60%;
  margin: 40px auto;
  padding: 14px;
  background-color: #ffff00;
  box-shadow: 8px 8px 0 #888;
  outline: 2px solid black;
}

.inner-main-container {
  background-color: #fff;
  border: 2px solid #000;
  padding: 12px;
  outline: 1px solid black;
}

.inner-main-container p {
  margin: 10px;
  font-size: 1rem;
  line-height: 1.4;
  text-align: center;
}